include ../iconbtn/index.pug
.flatkladov
  .flatkladov__top
    .flatkladov__title Машино-место №123
    .flatkladov__ch
      span 22,58 м²
      span Литер 2
      span Этаж -2
  .flatkladov__bottom
    .flatkladov__name ЖК «Черника»
    .flatkladov__subname Черниковка
  +iconbtn('dots', 'primary-w')(class="flatkladov__btn")
