include ../../components/svg.pug
section.section.section-offset.section4.section-rounded.peculiarities
  .container
    .section__top 
      .left
        h2.title Особенности ЖК
    .peculiarities__wrapper
      .peculiarities__list
        .peculiarities__item 
          +svg('back')
          .peculiarities__item--content
            h4 Инфраструктура
            p Описание особенности
        .peculiarities__item 
          +svg('back')
          .peculiarities__item--content
            h4 Инфраструктура
            p Описание особенности
        .peculiarities__item 
          +svg('back')
          .peculiarities__item--content
            h4 Инфраструктура
            p Описание особенности
        .peculiarities__item 
          +svg('back')
          .peculiarities__item--content
            h4 Инфраструктура
            p Описание особенности