.btn {
  @apply text-body_m inline-flex justify-center items-center text-text_000 rounded-3md w-full lg:w-auto;
  @apply transition-all duration-300 ease-linear;
  outline-offset: -2px;
  height: 56px;
  padding-inline: 24px;
  gap: 12px;
  font-size: 16px;
  line-height: 24px;
  svg {
    @apply text-secondary_500;
    height: 24px;
    width: 24px;
  }
  &:disabled {
    @apply cursor-not-allowed;
  }
  &:not([disabled]):hover {
    @apply bg-surface-dark_100;
  }
  &:not([disabled]):active {
    @apply bg-surface-dark_200;
  }
  &:disabled {
    @apply outline-1 outline-surface-dark_300 text-surface-dark_300;
    svg {
      @apply text-surface-dark_300;
    }
  }
  &-w {
    @apply text-text_950 bg-transparent;
    svg {
      @apply text-secondary_500;
    }
    &:not([disabled]):hover {
      @apply bg-surface-white_50;
    }
    &:not([disabled]):active {
      @apply bg-surface-white_100;
    }
    &:disabled {
      @apply text-surface-white_100 bg-transparent;
      svg {
        @apply text-surface-white_100;
      }
    }
  }

  &--primary {
    @apply bg-text_000 text-text_950;
    svg {
      @apply text-secondary_500;
    }
    &:not([disabled]):hover {
      @apply bg-secondary_400;
      svg {
        @apply text-text_950;
      }
    }
    &:not([disabled]):active {
      @apply bg-secondary_500;
    }
    &:disabled {
      @apply bg-surface-dark_300 text-surface-dark_200;

      svg {
        @apply text-surface-dark_200;
      }
    }
    &-w {
      @apply bg-primary_500 text-text_000;
      svg {
        @apply bg-secondary_500;
      }
      &:not([disabled]):hover {
        @apply bg-primary_400 text-text_000;
      }
      &:not([disabled]):active {
        @apply bg-primary_600;
      }
      &:disabled {
        @apply bg-surface-white_50 text-surface-white_100;

        svg {
          @apply text-surface-white_100;
        }
      }
    }
  }
  &--primary2 {
    @apply text-text_000 bg-primary_500;
    svg {
      @apply text-secondary_500;
    }
    &:not([disabled]):hover {
      @apply bg-primary_400;
    }
    &:not([disabled]):active {
      @apply bg-primary_600;
    }
    &:disabled {
      @apply bg-surface-dark_50 text-surface-dark_100;

      svg {
        @apply text-surface-dark_100;
      }
    }
  }
  &--secondary {
    @apply bg-secondary_500 text-text_000;
    svg {
      @apply text-text_000;
    }
    &:not([disabled]):hover {
      @apply bg-secondary_400;
    }
    &:not([disabled]):active {
      @apply bg-secondary_500;
    }
    &:disabled {
      @apply bg-surface-dark_300 text-surface-dark_200;
      svg {
        @apply text-surface-dark_200;
      }
    }
    &-w {
      @apply bg-secondary_500 text-text_000;
      svg {
        @apply text-text_000;
      }
      &:not([disabled]):hover {
        @apply bg-secondary_400;
      }
      &:not([disabled]):active {
        @apply bg-secondary_600;
      }
      &:disabled {
        @apply bg-surface-white_50 text-surface-white_100;
        svg {
          @apply text-surface-white_100;
        }
      }
    }
  }
  &--teartiary {
    @apply bg-surface-dark_300 text-text_000;
    svg {
      @apply text-secondary_500;
    }
    &:not([disabled]):hover {
      @apply bg-surface-dark_100;
    }
    &:not([disabled]):active {
      @apply bg-surface-dark_200;
    }
    &:disabled {
      @apply bg-surface-dark_300 text-surface-dark_200;
      svg {
        @apply text-surface-dark_200;
      }
    }
    &-w {
      @apply bg-surface-white_50 text-text_950;
      svg {
        @apply text-secondary_500;
      }
      &:not([disabled]):hover {
        @apply bg-text_000;
      }
      &:not([disabled]):active {
        @apply bg-surface-white_100;
      }
      &:disabled {
        @apply bg-surface-white_50 text-surface-white_100;
        svg {
          @apply text-surface-white_100;
        }
      }
    }
  }

  &--border {
    @apply outline outline-surface-dark_200 outline-1 bg-transparent text-text_000;

    svg {
      @apply text-secondary_500;
    }
    &:not([disabled]):hover {
      @apply bg-surface-dark_100 outline-none;
    }
    &:not([disabled]):active {
      @apply bg-surface-white_200 outline-none;
    }
    &:disabled {
      @apply text-surface-dark_200;

      svg {
        @apply text-surface-dark_300;
      }
    }
    &-w {
      @apply outline outline-surface-white_50 outline-1 bg-transparent text-text_950;

      svg {
        @apply text-secondary_500;
      }
      &:not([disabled]):hover {
        @apply bg-surface-white_50 outline-none;
      }
      &:not([disabled]):active {
        @apply bg-surface-white_100 outline-1;
      }
      &:disabled {
        @apply text-surface-white_100;

        svg {
          @apply text-surface-white_100;
        }
      }
    }
  }

  &-sm {
    height: 48px;
    padding-inline: 20px;
  }
  &-xs {
    font-size: 14px;
    line-height: 20px;
    gap: 8px;
    padding-inline: 12px;
    height: 36px;
    svg {
      height: 20px;
      width: 20px;
    }
  }
}
