include ../../components/specification/index.pug
section.section.section1.section-offset.section-rounded.characteristic
  .container 
    .section__top
      .left
        h2.title Характеристики проекта
      
    .characteristic__wrapper
      .characteristic__content
        .characteristic__list
          +specification( require('/assets/images/specification/specification-1.png'), 'Монолит-кsadsadadsfdfркас с заполнением кирпичом')
          +specification( require('/assets/images/specification/specification-1.png'), 'Монолит-каркас с заполнением кирпичом')
          +specification( require('/assets/images/specification/specification-1.png'), 'Монолит-каркас с заполнением кирпичом')
          +specification( require('/assets/images/specification/specification-1.png'), 'Монолит-каркас с заполнением кирпичом')
          +specification( require('/assets/images/specification/specification-1.png'), 'Монолит-каркас с заполнением кирпичом')
          +specification( require('/assets/images/specification/specification-1.png'), 'Монолит-каркас с заполнением кирпичом')
        