
include ../../components/badge-about/index.pug
section.section.section2.section-offset.pt-0.about-project 
  .container 
    .about-project__wrapper
      .about-project__top 
        h2.title О проекте
        p.text Жилой комплекс «Новый Фамильный» — новый уровень семейного комфорта и безопасности в Зелёной роще
      .about-project__bottom 
        +badge-about('test', 'back')
        +badge-about('test', 'back')
        +badge-about('test', 'back')
        +badge-about('test', 'back')
        +badge-about('test', 'back')
        +badge-about('test', 'back')
      