.swiper.offer-slider
  .swiper-wrapper
    .swiper-slide
      .offerbanner 
        .offerbanner__top
          .offerbanner__descr
            h4.title Скидка до 1,1 млн ₽ на квартиры в ЖК «Грани»
            img.icon(src=require('/assets/icons/logo.svg'), alt="")
          img.bg(src=require('/assets/icons/logo.svg'), alt="")
        .offerbanner__bottom
          include ../../timer/index.pug
    .swiper-slide
      .offerbanner 
        .offerbanner__top
          .offerbanner__descr
            h4.title Скидка д 1,2 млн ₽ на квартиры в ЖК «Грани»
            img.icon(src=require('/assets/icons/logo.svg'), alt="")
          img.bg(src=require('/assets/icons/logo.svg'), alt="")
        .offerbanner__bottom
          include ../../timer/index.pug
  .swiper-pagination