include ../btn/index.pug
include ./cell/index.pug

.timer(data-timer="10.06.2025 23:59:00") 
  h4.timer__title До окончании акции
  .timer__content
    +cell('дней')(data-day)
    +cell('часов')(data-hour)
    +cell('мин.')(data-minutes)
    +cell('сек.')(data-seconds)
  .timer__action 
    +btn('Подробнее', 'primary', 'sm')
    svg(width="30" height="48" viewBox="0 0 30 48" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M29.0562 17.7995C29.0562 17.7995 29.0027 17.7579 28.973 17.7341L2.20418 0.136046C1.66298 -0.220792 0.943359 0.165782 0.943359 0.814037V12.4469C0.943359 12.7205 1.08014 12.9763 1.31209 13.1249L18.7258 24.5854L29.0562 17.7936V17.7995Z" fill="#202B43")
      path(d="M28.7175 17.5994L27.8113 17.005L27.7642 16.9756C27.7642 16.9756 27.7524 16.9756 27.7936 17.005C28.1408 17.2993 27.8642 17.5405 27.7995 17.5817L1.31751 34.9951C1.088 35.1422 0.952637 35.3953 0.952637 35.666V47.1945C0.952637 47.8359 1.66472 48.2185 2.20025 47.8654L28.6822 30.4343C28.9059 30.2872 29.0471 30.0342 29.0471 29.7634V18.2526C29.0471 17.976 28.9117 17.7406 28.7175 17.5994Z" fill="#0C172F")


    