
include ../../badge/index.pug
.swiper.flat-slider
  .swiper-wrapper
    .swiper-slide
      img(src=require('/assets/flat.png'), alt="test") 
    .swiper-slide
      
      img(src=require('/assets/flat.png'), alt="test") 
  .swiper-pagination