include ../../components/btn/index.pug
include ../../components/btncheck/index.pug
include ../../components/iconbtn/index.pug
include ../../components/chip/index.pug

section.section.section2.section-offset.objects
  .container
    .objects__wrapper
      .objects__filter
        .mob
          .filter-actions
            .filter-actions__wrapper
              +btn('Фильтры','primary', '','','filter')(class="action")
              +iconbtn('map','primary')(class="action")
        .desc
          form.filter-actions.filter-form
            .filter-actions__wrapper
              div
                .select(data-sel data-label="Выберите" data-name="PROP3" )
                  input(type="text" hidden name="PROP3" data-input)
                  .select__label Выберите ЖК
                  .select__head Любой
                  .select__body 
                    .select__body-wrapper
                      .select__options
                        div(data-val='1') 09:00 — 12:00
                        div(data-val='12:00 — 14:00') 12:00 — 14:00
                .filter-actions__rooms
                  .filter-actions__rooms--label Количество комнат
                  .filter-actions__rooms--btns
                    +btncheck('С','primary','', name='room-C', 'С')(class="action")
                    +btncheck('1','primary','', name='room-1', '1')(class="action")
                    +btncheck('2','primary','', name='room-2', '2')(class="action")
                    +btncheck('3','primary','', name='room-3', '3')(class="action")
              div
                .range-filter(data-value data-prefix='м²' data-name='sq')
                  input(type="text" hidden class='input-general' )
                  .range-filter__label Площадь
                  .range-filter__input
                    .price__wrapper
                      span.price-from
                        span.prefix  от
                        span.number
                        span.prefix  м²
                      span.prefix.separator  —
                      span.price-to
                        span.prefix  до
                        span.number
                        span.prefix  м²
                    .multi-range-slider
                      input.input-left(type='range' min='10' step='1' max='100' value='10')
                      input.input-right(type='range' min='10' step='1' max='100' value='100')
                      .slider
                        .track
                        .range
                .range-filter(data-value  data-name='et')
                  input(type="text" hidden class='input-general' )
                  .range-filter__label Этаж
                  .range-filter__input
                    .price__wrapper
                      span.price-from
                        span.prefix  от
                        span.number
                        
                      span.prefix.separator  —
                      span.price-to
                        span.prefix  до
                        span.number
                        
                    .multi-range-slider
                      input.input-left(type='range' min='1' step='1' max='25' value='1')
                      input.input-right(type='range' min='1' step='1' max='25' value='25')
                      .slider
                        .track
                        .range
                //- .select(data-sel data-label="Выберите" )
                //-   input(type="text" hidden name="PROP3")
                //-   .select__label Особенности
                //-   .select__head Не выбрано
                //-   .select__body 
                //-     .select__body-wrapper
                //-       .select__options
                //-         div(data-val='09:00 — 12:00') 09:00 — 12:00
                //-         div(data-val='12:00 — 14:00') 12:00 — 14:00
                .select( data-sel data-label="Выберите" )
                  input(type="text" data-checks data-input hidden name="Особенности")
                  .select__label Особенности
                  .select__head Не выбрано
                  .select__body 
                    .select__body-wrapper
                      .select__options.checkbox__childs 
                        
                        label(data-val='1' data-key="1").checkbox 
                          .checkbox__wrapper
                            input(type="checkbox"  hidden).checkbox__input
                            span.checkbox__label 12

                            svg( class='checkbox__icon' viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                              path(d="M14.25 0.5H1.75C1.41848 0.5 1.10054 0.631696 0.866116 0.866116C0.631696 1.10054 0.5 1.41848 0.5 1.75V14.25C0.5 14.5815 0.631696 14.8995 0.866116 15.1339C1.10054 15.3683 1.41848 15.5 1.75 15.5H14.25C14.5815 15.5 14.8995 15.3683 15.1339 15.1339C15.3683 14.8995 15.5 14.5815 15.5 14.25V1.75C15.5 1.41848 15.3683 1.10054 15.1339 0.866116C14.8995 0.631696 14.5815 0.5 14.25 0.5ZM11.5672 6.56719L7.19219 10.9422C7.13414 11.0003 7.06521 11.0464 6.98934 11.0779C6.91346 11.1093 6.83213 11.1255 6.75 11.1255C6.66787 11.1255 6.58654 11.1093 6.51066 11.0779C6.43479 11.0464 6.36586 11.0003 6.30781 10.9422L4.43281 9.06719C4.31554 8.94991 4.24965 8.79085 4.24965 8.625C4.24965 8.45915 4.31554 8.30009 4.43281 8.18281C4.55009 8.06554 4.70915 7.99965 4.875 7.99965C5.04085 7.99965 5.19991 8.06554 5.31719 8.18281L6.75 9.61641L10.6828 5.68281C10.7409 5.62474 10.8098 5.57868 10.8857 5.54725C10.9616 5.51583 11.0429 5.49965 11.125 5.49965C11.2071 5.49965 11.2884 5.51583 11.3643 5.54725C11.4402 5.57868 11.5091 5.62474 11.5672 5.68281C11.6253 5.74088 11.6713 5.80982 11.7027 5.88569C11.7342 5.96156 11.7503 6.04288 11.7503 6.125C11.7503 6.20712 11.7342 6.28844 11.7027 6.36431C11.6713 6.44018 11.6253 6.50912 11.5672 6.56719Z" fill="#00B0A4")
                        label(data-val='12' data-key="12").checkbox 
                          .checkbox__wrapper
                            input(type="checkbox"  hidden).checkbox__input
                            span.checkbox__label 122

                            svg( class='checkbox__icon' viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                              path(d="M14.25 0.5H1.75C1.41848 0.5 1.10054 0.631696 0.866116 0.866116C0.631696 1.10054 0.5 1.41848 0.5 1.75V14.25C0.5 14.5815 0.631696 14.8995 0.866116 15.1339C1.10054 15.3683 1.41848 15.5 1.75 15.5H14.25C14.5815 15.5 14.8995 15.3683 15.1339 15.1339C15.3683 14.8995 15.5 14.5815 15.5 14.25V1.75C15.5 1.41848 15.3683 1.10054 15.1339 0.866116C14.8995 0.631696 14.5815 0.5 14.25 0.5ZM11.5672 6.56719L7.19219 10.9422C7.13414 11.0003 7.06521 11.0464 6.98934 11.0779C6.91346 11.1093 6.83213 11.1255 6.75 11.1255C6.66787 11.1255 6.58654 11.1093 6.51066 11.0779C6.43479 11.0464 6.36586 11.0003 6.30781 10.9422L4.43281 9.06719C4.31554 8.94991 4.24965 8.79085 4.24965 8.625C4.24965 8.45915 4.31554 8.30009 4.43281 8.18281C4.55009 8.06554 4.70915 7.99965 4.875 7.99965C5.04085 7.99965 5.19991 8.06554 5.31719 8.18281L6.75 9.61641L10.6828 5.68281C10.7409 5.62474 10.8098 5.57868 10.8857 5.54725C10.9616 5.51583 11.0429 5.49965 11.125 5.49965C11.2071 5.49965 11.2884 5.51583 11.3643 5.54725C11.4402 5.57868 11.5091 5.62474 11.5672 5.68281C11.6253 5.74088 11.6713 5.80982 11.7027 5.88569C11.7342 5.96156 11.7503 6.04288 11.7503 6.125C11.7503 6.20712 11.7342 6.28844 11.7027 6.36431C11.6713 6.44018 11.6253 6.50912 11.5672 6.56719Z" fill="#00B0A4")
                        label(data-val='1s2' data-key="1222").checkbox 
                          .checkbox__wrapper
                            input(type="checkbox"  hidden).checkbox__input
                            span.checkbox__label 122

                            svg( class='checkbox__icon' viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                              path(d="M14.25 0.5H1.75C1.41848 0.5 1.10054 0.631696 0.866116 0.866116C0.631696 1.10054 0.5 1.41848 0.5 1.75V14.25C0.5 14.5815 0.631696 14.8995 0.866116 15.1339C1.10054 15.3683 1.41848 15.5 1.75 15.5H14.25C14.5815 15.5 14.8995 15.3683 15.1339 15.1339C15.3683 14.8995 15.5 14.5815 15.5 14.25V1.75C15.5 1.41848 15.3683 1.10054 15.1339 0.866116C14.8995 0.631696 14.5815 0.5 14.25 0.5ZM11.5672 6.56719L7.19219 10.9422C7.13414 11.0003 7.06521 11.0464 6.98934 11.0779C6.91346 11.1093 6.83213 11.1255 6.75 11.1255C6.66787 11.1255 6.58654 11.1093 6.51066 11.0779C6.43479 11.0464 6.36586 11.0003 6.30781 10.9422L4.43281 9.06719C4.31554 8.94991 4.24965 8.79085 4.24965 8.625C4.24965 8.45915 4.31554 8.30009 4.43281 8.18281C4.55009 8.06554 4.70915 7.99965 4.875 7.99965C5.04085 7.99965 5.19991 8.06554 5.31719 8.18281L6.75 9.61641L10.6828 5.68281C10.7409 5.62474 10.8098 5.57868 10.8857 5.54725C10.9616 5.51583 11.0429 5.49965 11.125 5.49965C11.2071 5.49965 11.2884 5.51583 11.3643 5.54725C11.4402 5.57868 11.5091 5.62474 11.5672 5.68281C11.6253 5.74088 11.6713 5.80982 11.7027 5.88569C11.7342 5.96156 11.7503 6.04288 11.7503 6.125C11.7503 6.20712 11.7342 6.28844 11.7027 6.36431C11.6713 6.44018 11.6253 6.50912 11.5672 6.56719Z" fill="#00B0A4")

                            //- svg.checkbox__icon(viewbox='0 0 22 22')
                              path.tick(stroke='#366EF6' fill='none' stroke-linecap='round' stroke-width='2' d='M6 10l4 4 6-6')
                              rect(width='21' height='21' x='.5' y='.5' fill='#FFF' stroke='#7B93A7' stroke-width='1.4' rx='3')
              div
                +btn('Показать предложения','primary')(class="action")
                +iconbtn('map','primary')(class="action")
            .filter-actions__chips
              .filter-actions__chips-actions
                //- +chip('Новый Фамильный','','xs','','close')
                //- +chip('2-ком','','xs','','close')
              div
                +btn('Очистить фильтр','', 'xs', '', 'xcircle')(class="action" data-rezet='filter-form')
      .objects__content
        include ../../components/objectcard/index.pug
        include ../../components/objectcard/index2.pug
        include ../../components/objectcard/index2.pug