//- include ../components/svg.pug
.select(data-sel data-label="Выберите" )
  input(type="text" hidden name="PROP3")
  .select__label Время звонка
  .select__head Выберите
  .select__body 
    .select__body-wrapper
      .select__options
        div(data-val='09:00 — 12:00') 09:00 — 12:00
        div(data-val='12:00 — 14:00') 12:00 — 14:00
        div(data-val='14:00 — 16:00') 14:00 — 16:00
        div(data-val='16:00 — 18:00') 18:00 — 18:00
        div(data-val='16:00 — 18:00') 18:00 — 18:00
        div(data-val='16:00 — 18:00') 18:00 — 18:00
        div(data-val='16:00 — 18:00') 18:00 — 18:00  