include ../../components/minispecification/index.pug
section.section.section2.section-rounded.about 
  .container 
    .about__wrapper
      .about__top
        .about__content 
          h2.title Больше, чем застройщик
          div.text
            p «Агидель-ИнвестСтрой» уже 22 года ассоциируется в Уфе со стабильностью и качеством. Мы привлекаем лучших специалистов, применяем современные инженерные решения и сотрудничаем с ООО «Уфастроймонтаж», что гарантирует высокое качество строительства. Спрос на наши квартиры ежегодно растет.
            p «Агидель-ИнвестСтрой» строит качественное жилье комфорт-класса. Мы реализуем проекты в Дёме, Черниковке, Инорсе, Зелёной Роще и центре Уфы, создавая современные дома с благоустроенной территорией и детскими площадками.
        .about__bg
          img(src=require('/assets/test.jpeg'), alt="test")
      .about__bottom
        +minispecification("22 года", "на рынке недвижимости", '', 'secondary')
        +minispecification("+ 277 000 м²", "жилья введено в эксплуатацию", '', 'secondary')
        +minispecification("4 022 квартир", "в 25 объектах", '', 'secondary') 
        +minispecification("10 334 жильца", "проживают в наших квартирах", '', 'secondary') 