
include ../../iconbtn/index.pug
.swiper.standart-slider
  .swiper-wrapper
    .swiper-slide
      img(src=require('/assets/test.jpeg'), alt="test") 
      .content
        .content__top
          h3 Долговечные теплые фасады
          p Фасады наших домов выполнены в едином стилевом решении и всегда надежно утеплены.
    .swiper-slide
      img(src=require('/assets/test.jpeg'), alt="test") 
      .content
        .content__top
          h3 Долговечные теплые фасады
          p Фасады наших домов выполнены в едином стилевом решении и всегда надежно утеплены.
    .swiper-slide
      img(src=require('/assets/test.jpeg'), alt="test") 
      .content
        .content__top
          h3 Долговечные теплые фасады
          p Фасады наших домов выполнены в едином стилевом решении и всегда надежно утеплены.
        
    
  .btn-controls
    +iconbtn('back', 'secondary')(class="btn-prev")
    +iconbtn('forward', 'secondary')(class="btn-next")
      //- .content
        h3(class=' text-primary01') Благоустройство
        p Благоустроенная территория. Ландшафтный дизайн и озеленение территории жилого комплекса «Стрижи» выполнены с учетом современных тенденций и желаний жителей
        .btn-controls
          button.btn.btn-prev
            +svg('back', 32)
          button.btn.btn-next
            +svg('forward', 32)
    //- .swiper-slide
      img(src='https://swiperjs.com/demos/images/nature-1.jpg')
      .content
        h3 Благоустройс
        p Благоустроенная территория. Ландшафтный дизайн и озеленение территории жилого комплекса «Стрижи» выполнены с учетом современных тенденций и желаний жителей
        .btn-controls
          button.btn.btn-prev
            +svg('back', 32)
          button.btn.btn-next
            +svg('forward', 32)
    //- .swiper-slide
      img(src='https://swiperjs.com/demos/images/nature-1.jpg')
      .content
        h3 Благоустройс
        p Благоустроенная территория. Ландшафтный дизайн и озеленение территории жилого комплекса «Стрижи» выполнены с учетом современных тенденций и желаний жителей
        .btn-controls
          button.btn.btn-prev
            +svg('back', 32)
          button.btn.btn-next
            +svg('forward', 32)
