section.section.section2.section-offset.section-rounded.similar
  .container 
    .section__top 
      .left 
        h2.title Похожие объекты
        p.subtitle Оставьте заявку и наш специалист свяжется с вами, чтобы ответить на все вопросы о квартирах, ипотеке и спецпредложениях
    .similar__wrapper
      include ../../components/objectcard/index2.pug
      include ../../components/objectcard/index2.pug