.place-card
  .place-card__icon
    img(src=require('/assets/test.svg'))
  h4.place-card__title Медучреждения
  .place-card__tags
    .place-card__tags--item Megi
    .place-card__tags--item Megi
    .place-card__tags--count
      .place-card__tags--item +2