section.section.section1.section-offset.section-rounded.news
  .container
    .news__wrapper
      .section__top
        .left
          h2.title Новости
      .news__list
        include ../../components/news/index.pug
        include ../../components/news/index.pug
        include ../../components/news/index.pug