
extend ../layouts/main.pug

  
block content
  section.inner
    .container
      .inner-cover 
        .inner-cover__wrapper
          .inner-cover__top
            include ../components/breadcrumb/index.pug
            .inner-cover__top-content
              h1.title О застройщике
              p.subtitle Оставьте заявку и наш специалист свяжется с вами, чтобы ответить на все вопросы о квартирах, ипотеке и спецпредложениях
          .inner-cover__bg 
            img(src=require('/assets/test.jpeg'), alt="test")
  include ../sections/about/index.pug
  include ../sections/objects/index2.pug
  include ../sections/objectspreview/index.pug
  

