
extend ../layouts/main.pug

  
block content
  
  include ../sections/flat-card/index.pug
  include ../sections/peculiarities/index.pug
  include ../sections/special-offers/index.pug
  include ../sections/flat-carddescr/index.pug
  