
extend ../layouts/main.pug

  
block content
  section.section.section3.rounded-none.news-item
    .news-item__other
      .news-item__other--title Другие новости
      .news-item__other--list
        a(href="/").news-item__other--item
          h4 Скидки на квартиры в Новом Фамильном
          p 23 января 2025 г

    .container
      a(href="/" class="news-item__back") Назад
      p.news-item__date 23 января 2025 г.
      .content 
        h2.news-item__title Скидки до 500 000 рублей на квартиры в «Новом Фамильном»