
extend ../layouts/main.pug

  
block content
  include ../sections/mainscreen/index.pug
  include ../sections/filter/index.pug
  include ../sections/about-project/index.pug
  include ../sections/characteristic/index.pug
  include ../sections/advantages/index.pug
  include ../sections/infrastrct/index.pug
  include ../sections/place-nearby/index.pug
  include ../sections/special-offers/index.pug
  include ../sections/construction-progress/index.pug
  include ../sections/about-objectsection/index.pug
  
  

