include ../components/btn/index.pug
include ../components/iconbtn/index.pug
include ../components/specification/index.pug
include ../components/minispecification/index.pug
include ../components/input/index.pug
include ../components/input/index2.pug


doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    
    //- script(src="https://api-maps.yandex.ru/2.1/?apikey=62425c4f-4dfc-4f52-a01f-bc1e23d27b7d&lang=ru_RU" type="text/javascript")
  body
    
              
    main
      .hotobuy__list  
        .accordeon.hotobuy__content
          .item
            
            .item__head 
              
              div(class="item__icon")
                +svg('back',32)
              div.item__head--content
                h4.item__title Наличный расчёт
                p.item__text Простой и понятный вариант покупки. Репутация компания гарантирует своевременный ввод дома в эксплуатацию, поэтому вы абсолютно не рискуете и не переплачиваете банку.
              span.item__iconright
                +svg('clear',32)
                +svg('camera',32)
                +svg('minus',32)  
            .item__body 
              .item__body-wrapper
                .hotobuy__item
                  img(src=require('/assets/images/standarts/standart-1.png'), alt="1") 
                  .hotobuy__item--content 
                    .hotobuy__item--title Как подать заявку? 
                    .hotobuy__item--list 
                      .hotobuy__item--wrapper
                        each val in [1, 2, 3, 4]
                          div.hotobuy__descr 
                            .hotobuy__descr--stage 1 
                            .hotobuy__descr--title Выбираете квартиру
                            .hotobuy__descr--text Бронируем квартиру (на срок не более 2 недель). Согласовываем ДДУ и порядок расчетов
                            a(href="/").hotobuy__descr--link Смотреть квартиры
                    .hotobuy__item--actions
                      +btn('Узнать подробнее','', '')
                      +iconbtn('whatsapp', 'primary')

                  
                    

      include ../components/header/index.pug
      include ../components/footer/index.pug
      include ../components/select/index.pug
      include ../components/range/index.pug
      include ../components/flatkladov/index.pug
      include ../components/flatpreview/index.pug
      include ../components/flatpreview/index2.pug
      include ../components/flatpreview/index3.pug
      include ../components/objectcard/index.pug
      include ../components/objectcard/index2.pug
      include ../components/objectpreview/index.pug
      include ../components/news/index.pug
      //- include ../components/mainscreen/index.pug
      include ../components/slider/general/index.pug
      //- include ../components/offerbanner/index.pug
      include ../components/timer/index.pug
      include ../components/badge/index.pug
      include ../components/features-card/index.pug
      include ../components/inner-cover/index.pug
      include ../components/placecard/index.pug
      
      
      +specification( require('/assets/images/specification/specification-1.png'), 'Монолит-каркас с заполнением кирпичом')
      +badge('test', 'back','','primary','vert')
      +badge('test', 'back','','primary')
      +badge('test', 'back','','secondary')
      +badge('test', 'back','','accept')
      +badge('test', 'back','','thirt')
      +badge('test', 'back')
      +badge('test', 'back','sm')
      +badge('test', 'back','xs')
      +badge('test', 'back','xs')
      +badge('test', 'back','xs')
      +iconbtn('back')(disabled)
      +iconbtn('back', 'primary')(disabled)
      +iconbtn('back', 'secondary')(disabled)
      +iconbtn('back', 'tertiary')(disabled)
      +iconbtn('back', 'border')(disabled)
      +btn('open','primary', '')(onclick="myFunction()")
      +btn('open','primary', '')(data-target="banks" data-action="open")
      +btn('open','primary', '')(data-target="book" data-action="open")
      +btn('open','primary', '')(data-target="infrastructure" data-action="open")
      +btn('open','primary', '')(data-target="construction" data-action="open" id="slider1")
      +btn('open','primary', '')(data-target="construction" data-action="open" id="slider2")
      +btn('open','primary', '')(data-target="map-content" data-action="open" )
      <a class="btn btn--primary" href="#slider2" data-target="construction" data-action="open" id="slider2"><span>open</span></a>
      +btn('hi','primary', '')()
      +btn('hi','primary', '')(disabled)
      +btn('hi','secondary', '')(disabled)
      +btn('hi','border', '')(disabled)
      +btn('hi','', '')
      +btn('hi','', '')(disabled)
      +minispecification("title", "text", 'back')
      +minispecification("title", "text", 'back', 'primary')
      +minispecification("title", "text", 'back', 'secondary')
      +input('name', 'Ваше имя')
      +inputwhite('name', 'Ваше имя')
      include ../sections/standarts/index.pug
      

      h2
        | ф sdfssdfsd

      
    
      
    //- button(class="show-modal")
    //- | Show Bottom Sheet
    include ../components/popup/thanks/index.pug
    include ../components/popup/book/index.pug
    include ../components/popup/infrastructure/index.pug
    include ../components/popup/map/index.pug
    
    include ../components/popup/construction/index.pug