.inner-cover {
  &__wrapper {
    @apply grid gap-6 xl:gap-8;
  }
  &__top {
    @apply grid gap-6;
    &-content {
      @apply grid gap-2;
    }
  }
  & h1.title {
    @apply font-semibold text-h5 xl:text-h4;
  }
  & p.subtitle {
    @apply text-text_400 text-body_s lg:text-body_m;
  }
  &__bg {
    @apply h-[196px] xl:h-[256px] relative rounded-1.5xl overflow-hidden;
    & img {
      @apply w-full h-full object-cover;
    }
    &::before {
      @apply absolute left-0 top-0 w-full h-full;
      content: '';
      background: linear-gradient(
        180deg,
        rgba(12, 23, 47, 0) 0%,
        rgba(12, 23, 47, 0.64) 100%
      );
    }
  }
  &__bottom {
  }
  &__filter {
    .mob {
      @apply lg:hidden;
      .filter-actions__wrapper {
        @apply flex items-center;
      }
    }
    .desc {
      @apply hidden lg:block;
      .filter-actions__wrapper {
        & > :nth-child(1) {
          display: flex;
          gap: 12px;
        }
        & > :nth-child(2) {
          display: flex;
          gap: 12px;
        }
        & > :nth-child(3) {
          display: grid;
          grid-template-columns: 1fr auto;
          gap: 12px;
        }
        @screen lg {
          gap: 20px;
        }
        @screen xl {
          display: flex;
          gap: 24px;

          & > :nth-child(2) {
            width: 100%;
          }
          & > :nth-child(3) {
            flex-shrink: 0;
            align-items: end;
          }
          & > :nth-child(1) {
            .select {
              width: 222px;
            }
          }
        }
      }
    }
    .filter-actions__chips {
      @apply items-center lg:justify-between overflow-auto;
      position: relative;
      padding-top: 64px;
      display: none;
      &.active {
        @apply grid gap-6  lg:flex;
      }
      &::before {
        content: '';
        position: absolute;
        top: 32px;
        left: 0;
        height: 1px;
        width: 100%;
        background: #343f57;
      }
      & > :first-child {
        display: flex;
        gap: 12px;
      }
    }
  }
}
