.inner-cover 
  .inner-cover__wrapper
    .inner-cover__top
      include ../breadcrumb/index.pug
      .inner-cover__top-content
        h1.title Застройщик
        p.subtitle Оставьте заявку и наш специалист свяжется с вами, чтобы ответить на все вопросы о квартирах, ипотеке и спецпредложениях
    .inner-cover__bg 
      img(src=require('/assets/test.jpeg'), alt="test")