include ../btn/index.pug
include ../iconbtn/index.pug
include ../svg.pug
header
  .container 
    .header
      .header__left
        a(href="/" class="logo")
          img(src=require('/assets/icons/logo.svg'), alt="лого") 
      .header__middle
        nav 
          button(id="header__modal" class="btn btn-xs btn--teartiary") 
            span Недвижимость
            +svg('down', 20)
          a(href="/" class="btn btn-xs") 
            span Проекты
          a(href="/" class="btn btn-xs") 
            span Как купить
          a(href="/" class="btn btn-xs") 
            span АИС-стандарты
          a(href="/" class="btn btn-xs") 
            span О компании
          a(href="/" class="btn btn-xs") 
            span Новости
          a(href="/" class="btn btn-xs") 
            span Контакты
          
          
      .header__right
        .header__contacts
          a(href="tel:+73472242040") +7 (347) 224-20-40
          address г. Уфа, ул. Обская, 7
        //- +iconbtn('heart')
        .header__right--actions
          +iconbtn('heart','secondary','xs')()
          +iconbtn('burger','primary','xs')(class="burger" data-target="sidebar" data-action="open")
  .header__modal 
    .header__modal--wrapper 
      .container
        .header__modal--types
            a(href="/") 
              img(src=require('/assets/images/kv.png'), alt="test") 
              span Квартиры
            a(href="/") 
              img(src=require('/assets/images/car.png'), alt="test") 
              span Машино-места
            a(href="/") 
              img(src=require('/assets/images/kv.png'), alt="test") 
              span Кладовые
.chaticon
  .chaticon__actions
    +iconbtn('plus', 'tertiary', 'sm')()
    +iconbtn('plus', 'tertiary', 'sm')()
    +iconbtn('plus', 'tertiary', 'sm')()
  .chaticon__action
    .chaticon__chat
      +iconbtn('chat', 'secondary', 'sm')(class="")
    .chaticon__close
      +iconbtn('close', 'secondary', 'sm')(class="")
.article
  +iconbtn('up', 'secondary', 'sm')(class="")