header {
  @apply bg-surface-dark_400 border-b border-surface-dark_300;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 12px;

  @screen xl {
    display: grid;
    grid-template-columns: 226px 1fr 226px;
  }
  &__middle {
    display: none;
    @screen xl {
      display: block;
      justify-self: center;
    }
    nav {
      display: flex;
      gap: 16px;
    }
  }
  &__right {
    justify-self: end;
    display: flex;
    align-items: center;

    gap: 20px;
    &--actions {
      display: flex;
      gap: 8px;
    }
  }
  &__contacts {
    a[href^='tel:'] {
      @apply text-text_000 text-body_xs;
    }
    address {
      @apply text-surface-dark_100 text-body_xs;
      font-style: normal;
    }
  }
  .logo {
    img {
      width: 84px;
      height: 36px;
    }
  }
  .burger {
    @screen xl {
      display: none;
    }
  }
}
