.place-nearby {
  &__wrapper {
  }
  &__list {
    @apply overflow-auto grid  gap-3 grid;
    grid-template-columns: repeat(4, 315px);
    @screen lg {
      overflow: hidden;
      gap: 16px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @screen xl {
      gap: 20px;
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
