section.section.section2.section-offset.pt-0.place-nearby
  .container
    .section__top 
      .left 
        h2.title Места рядом 
    .place-nearby__wrapper
      .place-nearby__list 
        include ../../components/placecard/index.pug
        include ../../components/placecard/index.pug
        include ../../components/placecard/index.pug
        include ../../components/placecard/index.pug