include ../../components/btn/index.pug
include ../../components/iconbtn/index.pug
include ../../components/btncheck/index.pug
section.section.section2.section-rounded.filter
  .container 
    .section__top
      .left
        h2.title Новый Фамильный
        p.subtitle ул. Акназарова
      .right 
        +btn('На карте','teartiary', '', "", 'mappoint')
        +btn('Фильтры','primary', '','','filter')(class="action " data-target="filter" data-action="open")
    .filter__wrapper
      .filter__top
      
      .filter__bottom
        .desc
          form.filter-actions.filter-form
            .filter-actions__wrapper
              div
                .filter-actions__rooms
                  .filter-actions__rooms--label Количество комнат
                  .filter-actions__rooms--btns
                    +btncheck('С','primary','', name='room-C', 'С')(class="action")
                    +btncheck('1','primary','', name='room-1', '1')(class="action")
                    +btncheck('2','primary','', name='room-2', '2')(class="action")
                    +btncheck('3','primary','', name='room-3', '3')(class="action")
              
                .range-filter(data-value data-prefix='м²' data-name='sq')
                  input(type="text" hidden class='input-general' )
                  .range-filter__label Площадь
                  .range-filter__input
                    .price__wrapper
                      span.price-from
                        span.prefix  от
                        span.number
                        span.prefix  м²
                      span.prefix.separator  —
                      span.price-to
                        span.prefix  до
                        span.number
                        span.prefix  м²
                    .multi-range-slider
                      input.input-left(type='range' min='10' step='1' max='100' value='10')
                      input.input-right(type='range' min='10' step='1' max='100' value='100')
                      .slider
                        .track
                        .range
                .range-filter(data-value  data-name='et')
                  input(type="text" hidden class='input-general' )
                  .range-filter__label Этаж
                  .range-filter__input
                    .price__wrapper
                      span.price-from
                        span.prefix  от
                        span.number
                        
                      span.prefix.separator  —
                      span.price-to
                        span.prefix  до
                        span.number
                        
                    .multi-range-slider
                      input.input-left(type='range' min='1' step='1' max='25' value='1')
                      input.input-right(type='range' min='1' step='1' max='25' value='25')
                      .slider
                        .track
                        .range
                
              div
                +btn('Показать предложения','primary','','submit')(class="action")
                
            .filter-actions__chips
              .filter-actions__chips-actions
                //- +chip('Новый Фамильный','','xs','','close')
                //- +chip('2-ком','','xs','','close')
              div
                +btn('Очистить фильтр','', 'xs', '', 'xcircle')(class="action" data-rezet='filter-form')