include ../../components/btn/index.pug
section.mainscreen
  .container
    .mainscreen__wrapper
      
      .mainscreen__slider
        include ../../components/slider/general/index.pug
      include ../../components/offerbanner/index.pug