include ../iconbtn/index.pug
.features-card
  img(src=require('/assets/test.jpeg'), alt="test") 
  .features-card__content
    h4.title Монолит-каркас с заполнением кирпичом
    p.text Жилой комплекс «Новый Фамильный» — новый уровень семейного комфорта и безопасности в Зелёной роще
  +iconbtn('back', 'primary')(class="features-card__btn")