.features-card {
  height: 480px;
  position: relative;
  overflow: hidden;
  @apply bg-surface-dark_300;
  &:hover {
    img {
      display: none;
    }
    &::before {
      display: none;
    }
    p {
      opacity: 1;
    }
    .features-card__btn:first-child {
      display: none;
    }
    .features-card__btn:last-child {
      display: block;
    }
  }
  @apply rounded-xl;
  img {
    @apply w-full h-full object-cover;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) -100%,
      rgba(0, 0, 0, 0.48) 100%
    );
  }
  &__content {
    @apply absolute grid gap-3 top-6 left-6 right-6 bottom-6;
    align-content: start;
    & .text {
      opacity: 0;
    }
  }
  &__btn {
    @apply absolute bottom-6 right-6;
    z-index: 1;
    &:last-child {
      display: none;
    }
  }
  & .title {
    @apply text-text_000 text-h6 font-semibold;
  }
  & .text {
    @apply text-text_400;
  }
  &.open {
    & .text {
      opacity: 1;
    }
  }
}
