section.section.section1.section-offset.section-rounded.about-objectsection
  .container
    .about-objectsection__wrapper 
      .about-objectsection__top
        h2.title Получить презентацию о проекте
        p.text Оставьте свои данные и получите презентацию ЖК
      .about-objectsection__bottom 
        +btn('Оставить заявку')
        +btn('Написать в WhatsApp')