include ../../components/badge/index.pug
include ../../components/btn/index.pug
include ../../components/iconbtn/index.pug
section.section.section-offset.section4.section-rounded
  .container
    div(class=" ")
      div
        .section__top 
          .left 
            h2.title Машино-места и кладовые
        .section__wrapper
          div(class="grid gap-4 lg:grid-cols-2")
            div(class=" bg-surface-white_50 rounded-xl p-4 grid gap-12")
              +badge('25 предложений', '','sm','accept', '',true)(class=" bg-text_000")
              div(class=" grid gap-6 lg:flex lg:justify-between") 
                div 
                  h4(class=" text-body_m font-semibold mb-2") Машино-места
                  p(class=" text-surface-dark_50 text-body_s") от 488 845 ₽
                +btn('Выбрать','primary-w', '')(class=" justify-self-end")
            div(class=" bg-surface-white_50 rounded-xl p-4 grid gap-12")
              +badge('25 предложений', '','sm','accept', '',true)(class=" bg-text_000")
              div(class=" grid gap-6 lg:flex lg:justify-between") 
                div 
                  h4(class=" text-body_m font-semibold mb-2") Машино-места
                  p(class=" text-surface-dark_50 text-body_s") от 488 845 ₽
                +btn('Выбрать','primary-w', '')(class=" justify-self-end")
      div(class="mt-12 xl:mt-16")
        .section__top 
          .left 
            h2.title Финансовые сервисы
        .section__wrapper
          div(class="flex gap-3 overflow-auto xl:grid xl:grid-cols-6 ")
            div(class=" border border-surface-dark_50 rounded-xl p-4 shrink-0 relative w-[315px] xl:w-full lg:p-6 xl:col-span-3")
              +iconbtn('back', 'primary-w')(class="mb-8")
              
              div(class="mb-6") 
                h4(class=" text-body_m font-semibold mb-2 xl:text-h6") Наличный расчёт
                p(class=" text-body_m text-surface-dark_50 line-clamp-3") Простой и понятный вариант покупки. Репутация компания гарантирует своевременный ввод дома в эксплуатацию, поэтому вы абсолютно не рискуете и не переплачиваете банку.
              +svg("forward", )(class=" w-6 h-6 mr-0 ml-auto ")
            div(class=" border border-surface-dark_50 rounded-xl p-4  shrink-0  relative w-[315px] xl:w-full lg:p-6 xl:col-span-3")
              +iconbtn('back', 'primary-w')(class="mb-8")
              
              div(class="mb-6") 
                h4(class=" text-body_m font-semibold mb-2 xl:text-h6") Наличный расчёт
                p(class=" text-body_m text-surface-dark_50 line-clamp-3") Простой и понятный вариант покупки. Репутация компания гарантирует своевременный ввод дома в эксплуатацию, поэтому вы абсолютно не рискуете и не переплачиваете банку.
              +svg("forward", )(class=" w-6 h-6 mr-0 ml-auto ")
            div(class=" border border-surface-dark_50 rounded-xl p-4 shrink-0  relative w-[315px] xl:w-full lg:p-6 xl:col-span-2")
              +iconbtn('back', 'primary-w')(class="mb-8")
              
              div(class="mb-6") 
                h4(class=" text-body_m font-semibold mb-2 xl:text-h6") Наличный расчёт
                p(class=" text-body_m text-surface-dark_50 line-clamp-3") Простой и понятный вариант покупки. Репутация компания гарантирует своевременный ввод дома в эксплуатацию, поэтому вы абсолютно не рискуете и не переплачиваете банку.
              +svg("forward", )(class=" w-6 h-6 mr-0 ml-auto ")
            div(class=" border border-surface-dark_50 rounded-xl p-4 shrink-0  relative w-[315px] xl:w-full lg:p-6 xl:col-span-2")
              +iconbtn('back', 'primary-w')(class="mb-8")
              
              div(class="mb-6") 
                h4(class=" text-body_m font-semibold mb-2 xl:text-h6") Наличный расчёт
                p(class=" text-body_m text-surface-dark_50 line-clamp-3") Простой и понятный вариант покупки. Репутация компания гарантирует своевременный ввод дома в эксплуатацию, поэтому вы абсолютно не рискуете и не переплачиваете банку.
              +svg("forward", )(class=" w-6 h-6 mr-0 ml-auto ")
            div(class=" border border-surface-dark_50 rounded-xl p-4  shrink-0 relative w-[315px] xl:w-full lg:p-6 xl:col-span-2")
              +iconbtn('back', 'primary-w')(class="mb-8")
              
              div(class="mb-6") 
                h4(class=" text-body_m font-semibold mb-2 xl:text-h6") Наличный расчёт
                p(class=" text-body_m text-surface-dark_50 line-clamp-3") Простой и понятный вариант покупки. Репутация компания гарантирует своевременный ввод дома в эксплуатацию, поэтому вы абсолютно не рискуете и не переплачиваете банку.
              +svg("forward", )(class=" w-6 h-6 mr-0 ml-auto ")
