.contacts {
  @apply pb-0;
  &__wrapper {
    @apply grid gap-12 lg:gap-8;
  }
  &__content {
    @apply grid gap-6 lg:grid-cols-2 xl:grid-cols-[1fr_491px];
    &--list {
      @apply grid gap-6 xl:gap-y-8 xl:gap-x-5 xl:grid-cols-2 xl:w-[766px];
    }
    &--item {
      @apply lg:w-[456px] xl:w-[373px];
      .item {
        @apply grid gap-2;
        &__title {
          @apply text-text_000 text-body_m font-semibold;
        }
        &__text {
          @apply text-text_400 text-body_m block mt-1;
        }
      }
    }
    &--form {
      @apply bg-surface-dark_400 rounded-1.5xl py-8 px-4 xl:px-6;
      .form {
        &__top {
          @apply mb-6 xl:mb-8;
        }
        &__title {
          @apply text-h6 font-semibold xl:text-h5 text-text_000 mb-2 xl:mb-3;
        }
        &__text,
        &__info {
          @apply text-text_400 text-body_s;
        }
        &__fields {
          @apply grid grid-cols-2 gap-5 mb-10 lg:mb-6;
          & > * {
            @apply lg:col-span-2;
          }
          & > .select {
            @apply lg:col-span-1;
          }
        }
        &__actions {
          @apply grid gap-3;
        }
      }
    }
  }
  &__map {
    @apply mt-8  xl:mt-16;
    #contacts-map {
      display: none;
      width: 100%;
      height: 480px;
      @screen lg {
        display: block;
        height: 640px;
      }
      .ymaps3x0--controls {
        max-width: 1552px;
        margin: 0 auto;
        left: 0;
        right: 0;
      }
    }
  }
}
