section.section.section1.section-rounded.objectspreview
  .container
    .section__top 
      .left
        h2.title Реализованные объекты
    .objectspreview__wrapper
      .objectspreview__content
        include ../../components/objectpreview/index.pug
        include ../../components/objectpreview/index.pug
        include ../../components/objectpreview/index.pug
        include ../../components/objectpreview/index.pug
        include ../../components/objectpreview/index.pug
        include ../../components/objectpreview/index.pug