a.news-item(href="/") 
  .news-item__content
    h4 Скидки до 500 000 рублей на квартиры в «Новом Фамильном»
    p До 28 февраля 2025 г. успейте приобрести квартиру в ЖК Новый Фамильный по сниженным ценам.
  .news-item__data 23 января 2025 г.