include ./components/btn/index.pug
include ./components/iconbtn/index.pug
include ./components/specification/index.pug


doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    
    //- script(src="https://api-maps.yandex.ru/2.1/?apikey=62425c4f-4dfc-4f52-a01f-bc1e23d27b7d&lang=ru_RU" type="text/javascript")
  body
    
              
    include ./components/sidebar/index.pug
    include ./components/header/index.pug
    main
      include ./sections/mainscreen/index.pug
      include ./sections/objects/index.pug
      include ./sections/news/index.pug
      include ./sections/standarts/index.pug
    include ./components/footer/index.pug
    include ./components/popup/infrastructure/index.pug
      
      
      
      
      
    
    