$sprites: (
    'back': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.8 16.35a.75.75 0 0 0 1.05-.15 4.874 4.874 0 0 1 7.8 0 .75.75 0 1 0 1.2-.9 6.363 6.363 0 0 0-2.569-2.033 3.75 3.75 0 1 0-5.057 0A6.362 6.362 0 0 0 7.65 15.3a.75.75 0 0 0 .15 1.05Zm2.7-5.85a2.25 2.25 0 1 1 4.5 0 2.25 2.25 0 0 1-4.5 0Zm9-8.25H6a1.5 1.5 0 0 0-1.5 1.5V6H3a.75.75 0 0 0 0 1.5h1.5v3.75H3a.75.75 0 1 0 0 1.5h1.5v3.75H3A.75.75 0 1 0 3 18h1.5v2.25a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5V3.75a1.5 1.5 0 0 0-1.5-1.5Zm0 18H6V3.75h13.5v16.5Z' fill='currentColor'/%3e%3c/svg%3e",
    'burger': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M17.5 10a.624.624 0 0 1-.625.625H3.125a.625.625 0 1 1 0-1.25h13.75A.625.625 0 0 1 17.5 10ZM3.125 5.625h13.75a.625.625 0 1 0 0-1.25H3.125a.625.625 0 0 0 0 1.25Zm13.75 8.75H3.125a.625.625 0 1 0 0 1.25h13.75a.624.624 0 1 0 0-1.25Z' fill='currentColor'/%3e%3c/svg%3e",
    'close': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.067 15.183a.624.624 0 1 1-.884.884L10 10.883l-5.183 5.184a.625.625 0 1 1-.884-.884L9.116 10 3.933 4.817a.625.625 0 0 1 .884-.884L10 9.116l5.183-5.183a.625.625 0 1 1 .884.884L10.883 10l5.184 5.183Z' fill='currentColor'/%3e%3c/svg%3e",
    'down': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m16.692 7.942-6.25 6.25a.622.622 0 0 1-.884 0l-6.25-6.25a.625.625 0 0 1 .884-.884L10 12.866l5.808-5.808a.625.625 0 1 1 .884.884Z' fill='currentColor'/%3e%3c/svg%3e",
    'heart': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.24 3.812a.625.625 0 1 0-.23-1.23c-1.258.237-2.307.87-3.01 1.793C9.12 3.203 7.706 2.5 6.094 2.5A4.85 4.85 0 0 0 1.25 7.344c0 5.468 8.109 9.896 8.454 10.078a.62.62 0 0 0 .592 0 25.983 25.983 0 0 0 3.21-2.127.625.625 0 1 0-.762-.99 26.793 26.793 0 0 1-2.119 1.47V5.759c.456-1.012 1.402-1.719 2.615-1.946Zm-3.865 11.97C7.311 14.484 2.5 11.071 2.5 7.343A3.598 3.598 0 0 1 6.094 3.75c1.477 0 2.723.764 3.281 2.003v10.028ZM18.168 7.5a.69.69 0 0 1-.07 0 .625.625 0 0 1-.62-.556 3.585 3.585 0 0 0-1.576-2.59.626.626 0 1 1 .696-1.038 4.83 4.83 0 0 1 2.122 3.49.623.623 0 0 1-.552.694Zm-.163 2.783c-.443.888-1.09 1.797-1.921 2.694a.625.625 0 1 1-.918-.848c.751-.813 1.328-1.621 1.72-2.404a.624.624 0 1 1 1.117.558h.002Z' fill='currentColor'/%3e%3c/svg%3e",
    'logo': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M57.465 19.832h-4.337l-.009-.009c-.247.91-.731 1.62-1.455 2.123-.758.55-1.71.814-2.847.814a6.899 6.899 0 0 1-1.852-.247 4.677 4.677 0 0 1-1.489-.726 3.261 3.261 0 0 1-1.05-1.247c-.246-.496-.37-1.08-.378-1.735v-1.601c0-.333.033-.644.097-.937.06-.276.15-.536.264-.78.247-.495.582-.92 1.032-1.265a4.513 4.513 0 0 1 1.516-.753 6.775 6.775 0 0 1 1.886-.247c1.12 0 2.063.256 2.83.778.767.53 1.261 1.274 1.463 2.221h4.338a7.2 7.2 0 0 0-.536-1.916 6.61 6.61 0 0 0-.31-.615 6.273 6.273 0 0 0-1.71-1.929c-1.5-1.106-3.51-1.663-6.04-1.663-.648 0-1.262.03-1.844.091-.779.082-1.5.217-2.166.404-1.164.327-2.134.815-2.918 1.443a5.86 5.86 0 0 0-1.746 2.256c-.397.885-.59 1.877-.59 2.983v1.45c0 1.107.193 2.098.581 2.983.388.885.97 1.637 1.737 2.248.784.636 1.754 1.114 2.918 1.45 1.163.328 2.495.497 4.011.497 1.305 0 2.468-.15 3.491-.452 1.032-.301 1.913-.735 2.645-1.292a6.08 6.08 0 0 0 1.666-1.894c.414-.734.679-1.54.802-2.433Z' fill='%23FAFCFE'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.911 10.434 0 25.557h4.522l1.296-3.115h7.838l1.295 3.115h4.523l-6.912-15.123h-5.65Zm2.592 3.088h.458l2.46 5.947H7.035l2.468-5.947Z' fill='%23FAFCFE'/%3e%3cpath d='M37.612 10.434v15.123h-4.178l.08-8.796.122-1.097h-.06l-8.658 9.893h-4.329V10.434h4.188l-.07 9.123-.124 1.018h.07l8.78-10.141h4.179Z' fill='%23FAFCFE'/%3e%3cpath d='m84.327 13.35-.063-.05L64.188.103a.61.61 0 0 0-.946.509v8.724c0 .205.103.397.277.509l13.06 8.595 7.748-5.094v.005Z' fill='%2300B0A4'/%3e%3cpath d='m84.066 13.2-.68-.445-.035-.023s-.009 0 .022.023c.26.22.053.401.004.432l-19.861 13.06a.596.596 0 0 0-.274.503v8.647c0 .48.534.768.936.503l19.861-13.073c.168-.11.274-.3.274-.504V13.69a.603.603 0 0 0-.247-.49Z' fill='%23FAFCFE'/%3e%3c/svg%3e",
    'ok': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23a)' stroke='currentColor' stroke-width='1.2' stroke-linejoin='round'%3e%3cpath d='M12 11.936c1.175 0 2.233-.47 3.003-1.24a4.241 4.241 0 0 0 1.24-3.003c0-1.175-.47-2.233-1.24-3.002A4.223 4.223 0 0 0 12 3.45c-1.175 0-2.233.47-3.003 1.24a4.222 4.222 0 0 0-1.24 3.002c0 1.176.471 2.234 1.24 3.003A4.268 4.268 0 0 0 12 11.936Zm-1.357-5.61A1.916 1.916 0 0 1 12 5.759c.534 0 1.015.214 1.357.567.353.352.566.833.566 1.357 0 .523-.213 1.015-.566 1.357A1.915 1.915 0 0 1 12 9.606a1.879 1.879 0 0 1-1.357-.566 1.915 1.915 0 0 1-.566-1.357c0-.524.213-1.005.566-1.357Z'/%3e%3cpath d='m17.706 13.645-1.25-1.699c-.075-.096-.203-.107-.3-.032-1.175 1.005-2.617 1.646-4.167 1.646-1.55 0-2.992-.652-4.167-1.646a.208.208 0 0 0-.3.032l-1.239 1.7a.198.198 0 0 0 .032.266 8.653 8.653 0 0 0 3.02 1.584c.257.076.385.37.253.601L7.223 20.26a.202.202 0 0 0 .182.288H9.98c.075 0 .15-.042.182-.117l1.473-3.289a.4.4 0 0 1 .73 0l1.473 3.289a.198.198 0 0 0 .182.117h2.575c.15 0 .245-.16.17-.288l-2.364-4.163a.418.418 0 0 1 .252-.601 8.629 8.629 0 0 0 3.01-1.584c.086-.064.096-.181.043-.267Z'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='a'%3e%3cpath fill='currentColor' d='M0 0h24v24H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e",
    'vk': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.925 18.295c-6.54 0-10.321-4.34-10.608-11.59a.396.396 0 0 1 .396-.41H5.25c.218 0 .395.176.404.393.198 4.784 2.22 7.057 4.021 7.764.242.095.486-.096.486-.355V6.695a.4.4 0 0 1 .4-.4h2.342c.221 0 .4.179.4.4v3.9c0 .238.207.424.437.366 1.707-.434 3.405-2.294 4.102-4.378a.416.416 0 0 1 .39-.288h2.364c.249 0 .438.226.379.468-.567 2.313-2.154 4.101-3.525 5.092a.479.479 0 0 0 .035.784 9.58 9.58 0 0 1 4.165 5.152.385.385 0 0 1-.372.504h-2.642a.415.415 0 0 1-.386-.274c-.748-2.014-2.375-3.576-4.51-3.954a.377.377 0 0 0-.437.38v3.47c0 .209-.169.378-.378.378Z' stroke='currentColor' stroke-width='1.2' stroke-linejoin='round'/%3e%3c/svg%3e",
    'whatsapp': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m17.586 13.579-3-1.5a.75.75 0 0 0-.75.047l-1.377.918a3.802 3.802 0 0 1-1.5-1.5l.918-1.377a.75.75 0 0 0 .047-.75l-1.5-3A.75.75 0 0 0 9.75 6 3.75 3.75 0 0 0 6 9.75 8.26 8.26 0 0 0 14.25 18 3.749 3.749 0 0 0 18 14.25a.75.75 0 0 0-.414-.671ZM14.25 16.5A6.758 6.758 0 0 1 7.5 9.75 2.25 2.25 0 0 1 9.31 7.543L10.385 9.7l-.916 1.364a.75.75 0 0 0-.069.704 5.294 5.294 0 0 0 2.827 2.826.75.75 0 0 0 .71-.062l1.37-.913 2.157 1.076A2.25 2.25 0 0 1 14.25 16.5ZM12 2.25a9.75 9.75 0 0 0-8.608 14.332l-1.064 3.193a1.5 1.5 0 0 0 1.897 1.897l3.193-1.064A9.75 9.75 0 1 0 12 2.25Zm0 18a8.237 8.237 0 0 1-4.13-1.107.75.75 0 0 0-.614-.063L3.75 20.25l1.17-3.506a.75.75 0 0 0-.063-.613A8.25 8.25 0 1 1 12 20.25Z' fill='currentColor'/%3e%3c/svg%3e",
    'youtube': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m15.416 11.376-4.5-3A.75.75 0 0 0 9.75 9v6a.75.75 0 0 0 1.166.624l4.5-3a.75.75 0 0 0 0-1.248Zm-4.166 2.222v-3.192L13.648 12l-2.398 1.598Zm10.718-7.08A2.25 2.25 0 0 0 20.61 4.98C17.396 3.739 12.281 3.75 12 3.75c-.281 0-5.396-.011-8.61 1.23a2.25 2.25 0 0 0-1.358 1.537C1.789 7.454 1.5 9.163 1.5 12c0 2.837.289 4.547.532 5.483A2.25 2.25 0 0 0 3.39 19.02c3.079 1.188 7.897 1.229 8.548 1.229h.124c.65 0 5.472-.041 8.548-1.23a2.25 2.25 0 0 0 1.358-1.537c.243-.938.532-2.646.532-5.483 0-2.837-.289-4.547-.532-5.482ZM20.516 17.11a.75.75 0 0 1-.447.515c-2.967 1.146-8.014 1.125-8.062 1.125H12c-.05 0-5.093.019-8.063-1.125a.75.75 0 0 1-.447-.515C3.262 16.255 3 14.678 3 12s.263-4.255.484-5.107a.75.75 0 0 1 .447-.518C6.792 5.27 11.587 5.25 11.979 5.25h.026c.05 0 5.098-.017 8.062 1.125a.75.75 0 0 1 .447.515c.224.855.486 2.432.486 5.11 0 2.678-.262 4.255-.484 5.107v.004Z' fill='currentColor'/%3e%3c/svg%3e"
);

$sizes: (
    'back': (
        'width': 24px,
        'height': 24px
    ),
    'burger': (
        'width': 20px,
        'height': 20px
    ),
    'close': (
        'width': 20px,
        'height': 20px
    ),
    'down': (
        'width': 20px,
        'height': 20px
    ),
    'heart': (
        'width': 20px,
        'height': 20px
    ),
    'logo': (
        'width': 85px,
        'height': 36px
    ),
    'ok': (
        'width': 24px,
        'height': 24px
    ),
    'vk': (
        'width': 24px,
        'height': 24px
    ),
    'whatsapp': (
        'width': 24px,
        'height': 24px
    ),
    'youtube': (
        'width': 24px,
        'height': 24px
    )
);

$variables: (
    /* EMPTY */
);

// https://github.com/waldemarfm/sass-svg-uri/blob/v1.0.0/_svg-uri.scss
@function sprite-str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if type-of($replace) == 'null' {
        $replace: '';
    }

    @if ( $index ) {
        @return str-slice($string, 1, $index - 1) + $replace + sprite-str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

@function sprite-svg-uri($value) {
    $output: $value;

    $output: sprite-str-replace($output, '"', "'");
    $output: sprite-str-replace($output, '<', '%3C');
    $output: sprite-str-replace($output, '>', '%3E');
    $output: sprite-str-replace($output, '&', '%26');
    $output: sprite-str-replace($output, '#', '%23');

    @return $output;
}

@mixin sprite($name, $user-variables: (), $include-size: false, $property: 'background') {
    $sprite: map-get($sprites, $name);

    @if $sprite == null {
        @error 'Sprite \'#{$name}\' does not exists';
    }

    // Inject variables
    $default-variables: map-get($variables, $name);
    @if type-of($default-variables) == 'map' {
        @each $key, $value in map-merge($default-variables, $user-variables) {
            @if ( not map-has-key($default-variables, $key) ) {
                @warn 'Sprite \'#{$name}\' does not support variable named \'#{$key}\'';
            }

            $sprite: sprite-str-replace($sprite, '___#{$key}___', sprite-svg-uri(quote(#{$value})));
        }
    } @else if type-of($user-variables) == 'map' {
        @warn 'Sprite \'#{$name}\' does not contain any variables';
    }

    #{$property}: url($sprite) center no-repeat;

    @if $include-size {
        $size: map-get($sizes, $name);
        $width: map-get($size, width);
        $height: map-get($size, height);

        @if $include-size == true {
            #{$property}-size: $width $height;
        } @else if $include-size == 'box' {
            width: $width;
            height: $height;
        }
    }
}
