@tailwind utilities;
@layer utilities {
  .section {
    .section__top {
      @apply flex flex-col gap-6 lg:flex-row justify-between mb-6;
      .left {
        @apply grid gap-2 xl:gap-3;
      }
    }
    h2.title {
      @apply text-text_000 font-semibold text-h6 lg:text-h5 xl:text-h4 font-headingpro;
    }
    & .subtitle {
      @apply text-text_400;
    }
  }
  .section1 {
    @apply bg-surface-dark_300;
  }
  .section2 {
    @apply bg-surface-dark_400;
  }
  .section3 {
    @apply bg-surface-white_50;
    h2.title {
      @apply text-text_950;
    }
    .subtitle {
      @apply text-text_400;
    }
  }
  .section4 {
    @apply bg-text_000;
    h2.title {
      @apply text-text_950;
    }
    .subtitle {
      @apply text-text_400;
    }
  }
  .section5 {
    @apply bg-surface-dark_400;
  }
  .section-offset {
    @apply pb-24 xl:pb-32 -mb-12 xl:-mb-16;
  }
  .section-rounded {
    @apply rounded-t-1.5xl;
  }
  .inner {
    @apply bg-surface-dark_500;
  }

  .accordeon {
    @apply grid gap-4;
    .item {
      &__head {
        @apply flex justify-between gap-4 items-center  cursor-pointer;
        h4 {
          @apply font-semibold font-headingpro;
        }
        .icon {
          @apply w-8 h-8 inline-block relative;
          transition: 0.3s;
          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: calc(50% - 5.2px);
            transform: translate(-50%, -50%) rotate(45deg);
            height: 1px;
            width: 14px;
            background-color: white;
          }

          &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: calc(50% + 5.2px);
            transform: translate(-50%, -50%) rotate(-45deg);

            height: 1px;
            width: 14px;
            background-color: white;
          }
        }
      }

      &.active {
        .item__head {
          .icon {
            transform: rotate(180deg);
          }
        }
      }
      &__body {
        @apply grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        &-wrapper {
          min-height: 0;
        }
      }

      &.active .item__body {
        grid-template-rows: 1fr;
      }
    }
  }

  .modal {
    @apply fixed opacity-0 top-0 left-0 w-0 h-0 overflow-hidden;
    z-index: 1000;
    background: rgba($color: #000000, $alpha: 0.3);
    display: none;
    &.open {
      @apply opacity-100 w-full h-full block;
    }

    &.active {
      @apply opacity-100 w-full h-full block;
    }

    & > .btn-close {
      @apply grid absolute top-12 right-12;
    }
  }

  .tabs {
    @apply inline-flex gap-4 overflow-auto;
  }
  .tab {
    @extend .btn;
    @apply bg-surface-dark_300 text-text_000 whitespace-nowrap;
    svg {
      @apply text-secondary_500;
    }
    &:not([disabled]):hover {
      @apply bg-surface-dark_100;
    }
    &:not([disabled]):active {
      @apply bg-surface-dark_200;
    }
    &:disabled {
      @apply bg-surface-dark_300 text-surface-dark_200;
      svg {
        @apply text-surface-dark_200;
      }
    }
    &.active {
      @extend .btn--secondary;
    }
  }
}
