section.section.section2.section-rounded.advantages
  .container
    .section__top 
      .left
        h2.title Премущества проекта
    .advantages__wrapper 
      include ../../components/slider/advantages/index.pug