include ../components/iconbtn/index.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="https://api-maps.yandex.ru/v3/?apikey=62425c4f-4dfc-4f52-a01f-bc1e23d27b7d&lang=ru_RU" type="text/javascript")
    
    title Document
  body
    
    include ../components/header/index.pug
    block top
    main
      block content
    include ../components/footer/index.pug
    
    //- .modal(data-animate-open="fadeIn" data-animate-close="fadeOut" id="success" class="animate__faster")      
      .btn-close
        button(data-target="success" data-action="close")
          +svg('close', 24)
      .popup.popup-success
        h2 Благодарим <br> за заявку
      .popup-success__actions 
        button.btn(data-target="success" data-action="close") 
          +svg('close', 24)
    
    
    
          
    
    