include ../../components/btn/index.pug
section.section.section2.section-rounded.standarts
  .container 
    .section__top
      .left
        h2.title АИС-Стандарт
        p.subtitle  Более 22 лет мы строим дома. Дома, в которых хочется жить, встречать гостей, дружить, любить …
    .standarts__wrapper
      .standarts__content
        .standarts__item
          .standarts__item--top
            h4.title Всегда раньше срока
            p.text Каждый объект, построенный нашей компанией, был сдан раньше срока. Мы привыкли приятно удивлять наших новосёлов и впредь будем радовать наших покупателей хорошими новостями.
          .standarts__item--bottom
            img(src=require('/assets/images/standarts/standart-1.png'), alt="1") 
        .standarts__item
          .standarts__item--top
            h4.title Двойной контроль качества строительства
            p.text Собственная служба технического надзора осуществляет контроль качества на объектах нашей компании.
          .standarts__item--bottom
            img(src=require('/assets/images/standarts/standart-2.png'), alt="1") 
        .standarts__item
          .standarts__item--top
            h4.title Контроль качества строительных материалов
            p.text Только проверенные и сертифицированные строительные материалы имеют право стать частью наших объектов.
          .standarts__item--bottom
            img(src=require('/assets/images/standarts/standart-3.png'), alt="1") 
        .standarts__item
          .standarts__item--top
            h4.title Надежные конструктивные решения
            p.text Мы строим дома как из кирпича, так и по монолитно-каркасной технологии.
          .standarts__item--bottom
            img(src=require('/assets/images/standarts/standart-4.png'), alt="1") 
      +btn("Смотреть все стандарты", 'primary')(class="standarts__link")